<div id="modal" class="hide"> <!-- O modal vai servir para cobrir a tela toda | hide significa 'esconder' -->
    <div class="content"> <!-- O content vai ser o conteúdo -->
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#">Fechar</a> <!-- Vai servir para cancelar a busca -->
        </div>
        <form action="search"> <!-- action mostra para qual página eu vou depois de executar a ação -->
            <label for="search">Cidade</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Pesquise por cidade">
                <button>
                    <img src="assets/icones/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>